*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #2F343B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 7.5vmin;
}

.game-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  margin-bottom: 16px;
}

.more-info-container {
  margin: 0 1vmin;
}

.more-info {
  background-color: #dfd5c3;
  height: 5vmin;
  width: 5vmin;
  border: 0;
  outline: none;
  padding: 0 0.1vmin 0 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5vmin;
  color: #2F343B;
  font-weight: 700;
  
  transition: all 0.3s ease-in-out;
}

.more-info:hover {
  cursor: pointer;
  background-color: #ddafa3;
}

.button-container {
  flex-grow: 1;
  height: 8.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.try-again-button {
  height: 5vmin;
  padding: 0 8px;
  background-color: #dfd5c3;
  border: 0;
  border-radius: 1vmin;
  color: #2F343B;
  outline: none;

  transition: all 0.3s ease-in-out;
}

.try-again-button:hover {
  cursor: pointer;
  background-color: #ddafa3;
}

.main-title {
  margin: 0 8px 0 0;
  font-size: 7.5vmin;
  color: #dfd5c3;
  flex-grow: 3;
  text-align: center;
}

.game-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1.5;
  height: 100%;
  color: #dfd5c3;
}

.score-title {
  font-size: 3vmin;
  margin: 0 0 1vmin;
}

.score-amount {
  font-size: 3vmin;
}

.added-score {
  position: relative;
  scale: 1;
}

.added-score::after {
  counter-increment: variable var(--score);
  content: '+'counter(variable);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  opacity: 0;
  scale: 1;

  animation: score 200ms ease-in-out;
}

.score-animation {
  transform: scale(1);
  animation: transform 200ms ease-in-out;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #dfd5c3;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #a7aba1;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vmin;
  width: var(--cell-size);
  height: var(--cell-size);
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(10, 50%, var(--background-lightness));
  color: hsl(10, 25%, var(--text-lightness));
  animation: show 300ms ease-in-out;
  transition: 100ms ease-in-out;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #dfd5c3;
  padding: 6vmin;
  display: flex;
  flex-direction: column;
  border-radius: 1vmin;

  position: relative;
}

.close-modal {
  font-size: 5vmin;
  color: #2F343B;
  align-self: flex-end;
  height: fit-content;

  position: absolute;
  top: 1vmin;
  right: 2vmin;

  transition: all 0.3s;
}

.close-modal:hover {
  cursor: pointer;
  color: #703030;
  text-shadow: 0 0 5px #2F343B;
}

.modal-message {
  margin: 0 0 16px;
  color: #2F343B;
  font-size: 6vmin;
}

.modal-try-again {
  background-color: #ddafa3;
  
  transition: all 0.3s;
}

.modal-try-again:hover {
  background-color: #cd8675;
}

.winner {
  display: none;
}

.winner-content {
  padding: 20vmin;
  background-color: #ddafa3;
}

.close-modal-winner {
  top: 10vmin;
  right: 10vmin;
  transform: translate(5.5vmin, -7.5vmin);
}

.winner-message {
  margin: 16px 0 0;
  color: #703030;
}

.info-content {
  max-width: 70vw;
  padding: 6vmin;
}

.info-message {
  margin: 0;
  font-size: 5vmin;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes score {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0.5vmin, -1.5vmin);
  }
}

@keyframes transform {
  50% {
    transform: scale(1.5);
  }
}
